#card{
    display: flex;
    background-color: black;
    flex: 1;
    padding-left: 50px;
    height: 100vh;
    flex-direction: column;

    table, th, td{
        border: 0.5px solid var(--white);
        justify-content: space-around;
    }
    table{
        height: 100%;
        border-spacing: 1rem;
    }
    .table-scroll{
        overflow: scroll;
        height: 70vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    div.divider{
        margin-top: 40px !important;
        width: 300px;
        border-bottom: 6px solid var(--white);
        margin-bottom: 50px;
    }
}

#config{
    display: flex;
    flex-direction: column;
    width: 100%;
    div{
        display: flex;
        flex-direction: row;
        width: 50vh;

    }

    div.buttons{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    button{
        margin: 10px;
        width: 50vw;
        background-color: var(--white);
        border: none;
        padding: 24px 0px;
        transition: background-color 0.4s;
        
    }
    button:hover{
        color: var(--white);
        background-color: black;
    }
    
    input{
        width:  50%;
    }
}

@media screen and (max-width: 768px){
    
    table{ 
        display: block;
        border-spacing: 0.5em;
        width: fit-content;
    }
    .table-scroll{
        overflow: scroll;
        overflow-x: scroll;
    }
    
    #card{
        padding: 0px;
        display: block;

        div.title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                margin-bottom: 0px;
            }
            .divider{
                margin-top: 25px !important; 
            }
        }
    }
    #config{
        display: flex;
        justify-content: center;
        align-items: center;
        
        div{
            width: 50%;
        }
    }
}