#entrar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        
        color: white;
    }
    div.entrar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: row;
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        margin: auto;
    }

    h2{
        font-size: 1.2em;    
        color: var(--white);
        width: 50vh;
        text-align: end;
    }

    div{
        margin: 20px;
    }
   
    button {
        background-color: var(--white);
        border: none;
        margin-top: 10px;
        padding: 24px 0px;
        transition: background-color 0.4s;
        margin-bottom: 25px;
    }

    button:hover{

        color: var(--white);
        background-color: black;
    }
   
    input{
        padding: 24px 0px; 
    }
    div.buy-info{
        align-items: stretch;
        display: flex;
        flex-direction: column;
    }
    div.login{
        align-items: stretch;
        display: flex;
        flex-direction: column;
    }
    div.divider{
        margin: 6vh;
        border-left: 6px solid var(--white);
        height: 200px; 
    }
    
}