#sobre{
    height: 100vh;
    .background{
        background-image: url('../../public/background.png');
        width: 50vw;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;    
    }
}