#sobre{
    height: 100vh;
    padding-top: 100px;
    display: flex;
    div.background{
        width: 50%;
        height: calc(100vh);
        background-image: url('../../public/background.png');
        background-repeat: no-repeat;
        background-size: cover;

    }
    div.story{
        
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 50vw;
        height: 100vh;
    }
    h3{
        
        margin-left: 20px;
        margin-top: 10vw;
        color: var(--white);
        font-size: 2em;
    }
    p{
        margin-left: 20px;
        text-align: left;
        width: 80vh;
        font-size: 1.1em;
    }
}