#landing{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;    
    h1{
        color: var(--white);
        margin: auto;

        font-size: 1.5em;
        text-align: center;

    }
    p{  
        text-align: center;
        align-self: center;
        width: 80vw;
        color: var(--white);
        font-size: 1.3em;
    }
    button{
        align-self: center;
        background-color: var(--white);
        border: none;
        cursor: pointer;
        width: 150px;
        list-style-type: none;
        padding: 24px 0px;
        width: 80vw;
        flex: 1;
        transition: background-color 0.4s;
    }
    button:focus {
        outline: none;
    }
    div.divider{
        margin: 4vw;
        border-left: 6px solid var(--white);
        height: 200px;    
    }

    div.player-wrapper{
        display: flex;
    }
    div.react-player{
        display: flex;
    }
  }