:root {
  --blue1: #14213d;
  --orange: #fca311;
  --white: #e5e5e5;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: url("../public/background1.jpg") no-repeat fixed;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-attachment: fixed !important;
}

/*
button {
  background-color: var(--white);
  border: none;
  margin-top: 10px;
  padding: 24px 0px;
  transition: background-color 0.4s;
  margin-bottom: 25px;
}


button:hover{
  color: var(--white);
  background-color: black;
}
*/

div.content {
  display: flex;
  height: calc(100vh - 99px);
  width: 100%;
  padding-top: 99px;
  flex-direction: column;
}

#landing {
  height: 100vh;
  padding-top: 0px;
}

.mobile {
  display: none;
}

#dashboard {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#host {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  div {
    margin: auto;
    padding: 30px;
  }
  div.container {
    display: flex;
    flex-direction: row;
    background-color: black;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("../public/background1.jpg") no-repeat fixed;
    background-attachment: fixed !important;
  }
  .mobile-hide {
    display: none !important;
  }

  .mobile {
    display: block;
  }
  #dashboard {
    display: block !important;
  }
  #card {
    display: block !important;
  }
}
