:root{
  --blue1: #14213D;
  --orange: #FCA311;
  --white: #E5E5E5;
}
body {
  background: url('../public/background1.jpg') no-repeat fixed;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden !important;
  background-attachment: fixed !important;
}

/*
button {
  background-color: var(--white);
  border: none;
  margin-top: 10px;
  padding: 24px 0px;
  transition: background-color 0.4s;
  margin-bottom: 25px;
}


button:hover{
  color: var(--white);
  background-color: black;
}
*/

div.content {
  display: flex;
  height: calc(100vh - 99px);
  width: 100%;
  padding-top: 99px;
  flex-direction: column;
}

#landing {
  height: 100vh;
  padding-top: 0px;
}

.mobile {
  display: none;
}

#dashboard{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#host{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  div{
    margin: auto;
    padding: 30px;
  }
  div.container{
    display: flex;
    flex-direction: row;
    background-color: black;
  }
}

@media screen and (max-width: 768px) {

  body{
    background: url('../public/background1.jpg') no-repeat fixed;
  }
  .mobile-hide{
    display: none !important;
  }
  
  .mobile {
    display: block;
  }
  #dashboard{
    display: block !important;
  }
  #card{
    
    display: block !important;
  }
  
  }
  
  #sobre{
    display: flex;
    margin-top: 20vw;

    div.background{
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;    
      
    }
    div.story{
      width: 0vw!important;
      margin-left: 0px !important;
      background-color: black !important;
      width: 50vw !important;
      height: 100vh!important;
      
    }
    h3{
      margin-top: 10vw;

      margin-left: 0px!important;
      font-size: 1.6em !important;
    }
    p{
      margin-left: 0px!important;
      width: 45vw !important;
      font-size: 1em!important;

    }
}

